$black: #1e1e2e;
$red: #f38ba8;
$green: #a6e3a1;
$yellow: #f9e2af;
$blue: #89b4fa;
$magenta: #cba6f7;
$cyan: #74c7ec;
$white: #b4befe;
$black_b: #6c7086;
$red_b: #fab382;
$green_b: #94e2d5;
$yellow_b: #f2cdcd;
$blue_b: #89dceb;
$magenta_b: #f5c2e7;
$cyan_b: #94e3d5;
$white_b: #e4e4e4;

/* $black: #000000; */
/* $red: #d34043; */
/* $green: #a6e3a1; */
/* $yellow: #f9e2af; */
/* $blue: #89b4fa; */
/* $magenta: #cba6f7; */
/* $cyan: #74c7ec; */
/* $white: #bac2de; */
/* $black_b: #6c7086; */
/* $red_b: #e82424; */
/* $green_b: #98cb6c; */
/* $yellow_b: #e6c984; */
/* $blue_b: #89dceb; */
/* $magenta_b: #af5fd7; */
/* $cyan_b: #94e2d5; */
/* $white_b: #cccccc; */

$foreground: #cdd6f4;
$background: rgba(9%, 9%, 15%, 0.69);
$background_light: rgba(0%, 0%, 0%, 0.40);
$transparent: transparent;


* {
  all: unset;
  /* font-size: 19px; */
}


.text {
  font-family: "ComicShannsMono Nerd Font Mono";
  color: $foreground;
  font-size: 17px;
}


.icon {
  font-family: "icomoon-feather";
}

.expand {
  border-radius: 8px;
}

.right_modules {
  padding: 0px 0px 0px 6px;
  border: 2px;
  /* border-style: solid; */
  color: $white;
  background-color: $transparent;
  border-radius: 14px;
}

.left_modules {
  border: 2px;
  border-style: solid;
  color: $white;
  /* background-color: $black; */
  background-image: url("/home/leo/.local/imgs/eww/hollow.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 14px;
}

.right {
}

.left {
  border-radius: 14px;
  .icon {
    color: $magenta_b;
  }
}

.workspace {
  .icon {
    font-size: 15px;
    color: $background;
    border-radius: 20px;
    background-color: $blue;
    padding: 0px 4px 0px 4px;
    margin: 6px 0px 8px 0px;
  }
  .text {
    font-weight: bold;
    /* color: $white_b; */
    color: $white_b;
  }
}

.focused {
  /* .icon { */
  /*   color: $background; */
  /*   border-radius: 20px; */
  /*   background-color: $green; */
  /*   padding: 0px 4px 0px 4px; */
  /*   margin: 6px 0px 8px 0px; */
  /* } */
  .text {
    color: $background;
    border-radius: 20px;
    background-color: $green;
    padding: 2px 8px 0px 8px;
    margin: 6px 0px 6px 0px;
  }
}

.visible {
  color: $yellow_b;
}

.eDP {
  color: $blue;
}

.HDMI {
  color: $magenta_b;
}


.caffeine {
  .icon {
    font-size: 17px;
    padding:0px;
    margin: 0px;
  }
  .on {
    color: $background;
    padding: 0px 4px 0px 4px;
    margin: 6px 0px 6px 8px;
    border-radius: 20px;
    background-color: $cyan;
  }
}

.dunst {
  .icon {
    font-size: 14px;
    padding: 0px;
    margin: 0px;
  }
  .on {
    color: $background;
    padding: 0px 5px 0px 5px;
    margin: 7px 0px 7px 8px;
    border-radius: 20px;
    background-color: $magenta_b;
  }
}

.charge-limit {
  .icon {
    font-size: 14px;
    padding: 0px;
    margin: 0px;
  }
  .on {
    color: $background;
    padding: 0px 5px 0px 5px;
    margin: 7px 0px 7px 8px;
    border-radius: 20px;
    background-color: $yellow;
  .expand {
    margin: 0px 0px 0px 4px;
    padding: 2px 4px 0px 4px;
    color: $background;
    font-weight: bold;
  }
  }
}

.wifi {
  .icon {
    color: $red;
    font-size: 15px;
    margin: 0px 6px 2px 10px;
    padding: 0px 0px 0px 0px;
  }
  .icon.connected {
    color: $green;
  }
  .expand {
    margin: 4px 0px 4px 4px;
    padding: 2px 4px 0px 4px;
    background-color: $green;
    font-weight: bold;
  }
  .text {
    color: $black;
  }
}

.speakers {
  .icon {
    color: $green;
    margin: 2px 10px 2px 8px;
    padding: 0px 0px 0px 0px;
    font-size: 19px;
  }
  .icon.muted {
    color: $red;
  }
  .expand {
    margin: 4px 0px 4px 4px;
    padding: 2px 4px 0px 4px;
    background-color: $green;
    font-weight: bold;
  }
  .text {
    color: $black;
  }
}

.run-cat {
  font-family: "jepfont";
  font-size: 28px;
  margin: 0px 2px 0px 2px;
  padding: 0px 4px 2px 0px;
  color: $magenta;
}

.temp {
  margin: 0px 10px 0px 0px;
  .text {
    color: $blue_b;
  }
  .icon {
    font-size: 16px;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 2px 2px;
    color: $blue_b
  }
  .icon.critical {
    color: $red_b
  }
}

.watt {
  margin: 0px 10px 0px 0px;
  .text {
    color: $yellow;
  }
  .icon {
    font-size: 16px;
    margin: 0px 4px 0px 4px;
    padding: 0px 0px 0px 0px;
    color: $yellow;
  }
  .expand {
    margin: 4px 4px 4px 4px;
    padding: 0px 4px 0px 4px;
    background-color: $yellow;
  }
  .button {
    color: $black;
  }
}

.battery {
  margin: 0px 10px 0px 0px;
  .icon {
    color: $red_b;
    font-size: 18px;
    margin: 0px 4px 2px 4px;
    padding: 0px 0px 0px 0px;
  }
  .icon.critical {
    color: $red;
  }
}

.date {
  margin: 0px 4px 0px 0px;
  .icon {
    color: $red_b;
    font-size: 15px;
    margin: 0px 4px 4px 4px;
    padding: 0px 0px 0px 0px;
  }
}

.time {
    padding: 0px 10px 0px 10px;
    /* margin: 6px 4px 6px 0px; */
    margin: 0px;
    .text {
      font-weight: bold;
      color: $foreground;
    }
    background-color: $background-light;
    border-radius: 12px;
}

.tray image {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 6px;
  -gtk-icon-transform: scale(0.5);
}
